---
const {newRelease} = Astro.props;
const {data} = Astro.props;
---

<a href={`books/${data.slug}`}>
<article>
    <img src={`/images/${data.image}`} alt={data.name}/>
    <h2>{data.name}</h2>
    {newRelease && <p>NEW RELEASE</p>}
    <p>{data.author}</p>
    <p>price</p>
</article>
</a>